<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Read My Updates!!</h1>

	<% @messages.reverse_each do |message| %> 
	<div> 
		<p><%= message.content %></p> 
		<h6><%= message.created_at %></h6> 
		<h6><%= link_to "Delete", message_path(message.id), :method => :delete %></h6>
	</div> 
	<% end %>


	<!-- <div class="center">
		<%= link_to 'New Message', "messages/new" %>
	</div> -->


	<form class="center">
		<input class="MyButton" type="button" value="New Message" onclick="window.location.href='/messages/new'" />
	</form>
	

</body>
</html>