<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.right {
			text-align: right;
		}


	</style>
</head>
<body>
<h1>Read My Updates!!</h1>


<% @messages.reverse_each do |message| %> 
<div> 
  <p><%= message.content %></p> 
  <h6><%= message.created_at %></h6> 


</div> 
<% end %>

	<div class="right">
		<%= link_to 'New Message', "messages/new" %>
	</div>


	

</body>
</html>