<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>main index</p>

<p><%= link_to "cool stuff", cool_path %></p>

<p><%= link_to "about stuff", about_path %></p>

<p><%= link_to "messages", messages_path %></p>


</body>
</html>