/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

  #rcorners2 {
    display: inline block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 10px solid white;
    padding: 20px; 
    width: 1000px;
    height: 100px; 
   
/*    background-image: url(johnnyface.jpg);*/

    /*background-image: url(https://scontent.fsjc1-3.fna.fbcdn.net/v/t31.0-8/18954934_10155197370860977_7307088288831353595_o.jpg?_nc_cat=0&oh=19a6d06a00bb4b493208e309bf978d71&oe=5B685E3E);\*/
    background-position: center;
    position: relative;
    /*width: 100%;*/
}

.left {
    text-align: right;
}

.toplogo {
    text-align: right;
    border: 0px solid blue;
    padding: 30px;
    margin: 0px;
    background-color: darkgray;
    background-image: url("leaf.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
}



#center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: none;
       
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    /*position: fixed;*/
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
    color: black;
    border: 1px solid blue;
}

body {
    background: white;
    background-repeat: no-repeat;
    /*background-image: url("johnnyface.jpg");*/
}

h1 {
    color: black;
    margin-top: 7%;
    text-align: center;

}
h2 {        
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

h3 {
    text-align: left;
    font-size: 60px;
    margin: 0px;
}
h6 {
    text-align: center;
    color: darkgray
}
p {
    font-family: verdana;
    font-size: 20px;
    color: black;
    text-align: center;
}






 
